.userStat {
  display: table-cell;
  vertical-align: middle;
  .profileBox {
    display: table-cell;
    vertical-align: middle;
    .profile {
      display: inline-block;
      width: 52px;
      vertical-align: middle;
      border-radius: 50%;
      overflow: hidden;
    }
    .spellBox {
      display: inline-block;
      margin-left: 5px;
      width: 24px;
      vertical-align: middle;
      .spell {
        width: 22px;
        border-radius: 5px;
        margin-bottom: 3px;
      }
    }
    .championName {
      color: #555;
      font-size: 12px;
      margin-top: 5px;
      text-align: center;
    }
  }
  .kdaBox {
    text-align: center;
    display: table-cell;
    height: 96px;
    vertical-align: middle;
    width: 113px;
    .kda {
      color: #879292;
      .kill {
        color: #555e5e;
        font-weight: bold;
      }
      .death {
        color: #c6443e;
        font-weight: bold;
      }
      .assist {
        color: #555e5e;
        font-weight: bold;
      }
    }
    .kdaRatio {
      color: #555e5e;
      font-size: 12px;
      font-weight: bold;
      margin-top: 6px;
      .ratio {
        color: #353a3a;
      }
    }
    .badge {
      .lifeKing {
        font-size: 11px;
        margin: 0 auto;
        width: 38px;
        height: 10px;
        padding: 2px 5px;
        margin-top: 5px;
        background-color: #e19205;
        color: white;
        border: solid 1px #b88a2a;
        border-radius: 25px;
      }
    }
  }
  .statsBox {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    color: #555e5e;
    .CKRate_tip {
      color: #c6443e;
    }
  }
  .itemBox {
    padding-left: 20px;
    width: 110px;
    display: table-cell;
    vertical-align: middle;
    .item {
      border-radius: 4px;
      width: 24px;
      height: 24px;
      margin-right: 2px;
    }
  }
  .teamBox {
    display: table-cell;
    vertical-align: middle;
  }
}
