.gameList {
  display: table;
  border-collapse: collapse;
  border: 1px solid #cdd2d2;
  width: 550px;
  height: 96px;
  margin-left: 40px;
  margin-bottom: 10px;
  box-shadow: 0 1px #dcdfdf;
  .content {
    display: table-cell;
    height: 96px;
    vertical-align: middle;
  }
}

.loading {
  margin-left: 40px;
  color: #777;
  font-weight: 500;
}
