.TierBox {
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
    .TierBox_solo {
    display: flex;
    width: 348px;
    border-bottom: 1px solid #cdd2d2;
    .solo_league_tier {
        width: 135px;
        height: 126px;
        .solo_tier_image {
            width: 96px;
            margin: 5px 15px;
        }
    }
    .solo_league_info {
        margin: 30px 0px;
        font-size: 13px;
        .solo_rank_tier {
            color: #3696D0;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .solo_point {
            color: #555e5e;
        }
        .solo_winlose {
            color: #868e96;
        }
        .solo_rate {
            color: #868e96;
            margin: 5px 0px;
        }
        .solo_leagueName {
            color: #868e96;
        }
    }
}
    .TierBox_team {
        display: flex;
        width: 348px;
        .team_league_tier {
            width: 50px;
            margin: 5px 20px;
        }
        .team_league_info {
            line-height: 1.5;
            text-align: center;
            display: flex;
            margin: 20px 0px;
            .team_rank_tier {
                font-size: 12px;
                color: #3696D0;
                font-weight: 500;
                .team_point {
                    color: #555e55;
                    font-size: 12px;
                }
            }
            .team_TypeTeam {
                padding: 0px 30px;
                font-size: 11px;
                color: #555e55;
                .team_rankType {
                    font-weight: bold;
                }
            }
            .team_winloseInfo {
                font-weight: bold;
                font-size: 11px;
                color: #879292;
            }
        }
}
}