.container {
    margin: 0 auto;
    .logo {
        display: block;
        max-width: 360px;
        max-height: 232px;
        margin: 0 auto;
        margin-top: 6.5rem;
        margin-bottom: 2rem;
    }
    .summoner_form {
        position: relative;
        width: 624px;
        height: 50px;
        margin: 0 auto;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
        .summoner_search {
            display: inline;
            width: 574px;
            padding: 15px 150px 18px 17px;
            background: none;
            border: none;
            line-height: 17px;
            font-size: 14px;
            color: #9b9b9b;
            box-sizing: border-box;
            outline: none;
        }
        .summoner_search_btn {
            display: inline;
            border: none;
            background-color: #1EB3FC;
            font-weight: 600;
            color: white;
            height: 30px;
            width: 50px;
        }
    }
} 